.form-control {
    border: 1px solid #2c2e33;
    height: calc(2.25rem + 2px);
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0.625rem 0.6875rem;
    background-color: #ffffff;
    border-radius: 2px;
    color: map-get($theme-colors , "primary" ) !important;
  }
  